.card {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	height: 100%;
	min-height: 520px;
	overflow: hidden;
}

.card:hover {
	transform: translateY(-5px);
}

.lightCard {
	background-color: #e2d2bf;
	color: #3d0a05;
}

.darkCard {
	background-color: #3d0a05;
	color: #dac1b1;
}

.image {
	width: 100%;
	height: 280px;
	object-fit: cover;
	border-radius: 6px;
	display: block;
}

.text {
	font-family: "Lora", serif;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 100%;
	padding-top: 10px;
}

.name {
	font-family: "Playfair Display", serif;
	font-size: 2rem;
	margin: 0;
	padding: 10px 0;
}

.category {
	font-size: 1.1rem;
	font-style: italic;
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	font-family: Cormorant Garamond, serif;
	font-size: 25px;
	font-weight: 900;
}

.details {
	font-size: 1rem;
	line-height: 1.6;
	font-family: Lora, serif;
	font-style: italic;
}

.button {
	display: inline-block;
	margin-top: 1.5rem;
	background-color: #7b2d2d;
	color: #a58570;
	padding: 0.6rem 1rem;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	font-family: inherit;
	width: max-content;
}

@media (min-width: 320px) and (max-width: 374px) {
	.card {
		padding: 1rem;
		min-height: auto;
	}
	.image {
		height: 100px;
	}

	.text {
		padding-top: 8px;
		gap: 0.4rem;
	}

	.name {
		font-size: 1rem;
		padding: 8px 0;
	}

	.category {
		font-size: 0.9rem;
	}

	.details {
		font-size: 0.7rem;
		line-height: 1.3;
	}

	.button {
		font-size: 0.6rem;
		padding: 0.5rem 0.8rem;
	}
}

@media (min-width: 375px) and (max-width: 767px) {
	.card {
		padding: 1rem;
		min-height: auto;
	}
	.image {
		height: 100px;
	}

	.text {
		padding-top: 8px;
		gap: 0.4rem;
	}

	.name {
		font-size: 1rem;
		padding: 8px 0;
	}

	.category {
		font-size: 0.9rem;
	}

	.details {
		font-size: 0.8rem;
		line-height: 1.3;
	}

	.button {
		font-size: 0.6rem;
		padding: 0.5rem 0.8rem;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.card {
		padding: 1rem;
		min-height: auto;
	}
	.image {
		height: 290px;
	}

	.text {
		padding-top: 8px;
		gap: 0.4rem;
	}

	.name {
		padding: 8px 0;
	}

	.details {
		line-height: 1.3;
	}

	.button {
		padding: 0.5rem 0.8rem;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.card {
		padding: 1rem;
		min-height: auto;
	}
	.image {
		height: 290px;
	}

	.text {
		padding-top: 8px;
		gap: 0.4rem;
	}

	.name {
		padding: 8px 0;
	}

	.details {
		line-height: 1.3;
	}

	.button {
		padding: 0.5rem 0.8rem;
	}
}

@media (min-width: 2560px) {
	.image {
		height: 560px;
	}

	.name {
		font-size: 5.5rem;
	}

	.category {
		font-size: 4.5rem;
	}

	.details {
		font-size: 3rem;
	}
	.button {
		font-size: 3rem;
	}
}
