.skills {
	background-color: #dac1b1;
	text-align: center;

	width: 100%;
	margin: 0 auto;
}

.skills h1 {
	font-family: "Playfair Display", serif;
	padding-top: 60px;
	text-align: center;
	font-size: 50px;
	color: #3d0a05;
}

.skillscontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.skill {
	padding-left: 20px;
}
.skill img {
	width: 200px;
	height: auto;
	object-fit: cover;
	box-sizing: border-box;
	border: 10px solid #ac746c;
	padding: 10px;
}

.skill p {
	text-align: center;
	font-family: "Lora", serif;
	font-size: 20px;
	color: #3d0a05;
	margin-top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
	.skills h1 {
		font-size: 35px;
	}

	.skill img {
		width: 100px;
	}

	.skillscontainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.skills h1 {
		font-size: 60px;
	}

	.skill img {
		width: 250px;
	}

	.skillscontainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.skill img {
		width: 170px;
	}
}

@media (min-width: 2560px) {
	.skills h1 {
		font-size: 110px;
	}

	.skill img {
		width: 465px;
	}

	.skill p {
		font-size: 60px;
	}
}
/*
@media (min-width: 1024px) and (max-width: 1439px) {
	.skills {
		width: 1132px;
	}

	.skills h1 {
		font-size: 45px;
	}

	.skill img {
		width: 185px;
		height: auto;
	}
	.skill {
		padding-left: 30px;
	}
} */
