.navbar {
	background-color: #7f1f0e;
	padding: 9px;
	color: #dac1b1;
}

.navLinks {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #dac1b1;
	gap: 30px;
}

.navLinks li {
	padding: 0 90px;
	margin: 0 30px;
	text-align: center;
}

.navLinks a {
	text-decoration: none;
	color: #a58570;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 25px;
}

.navLinks a:hover {
	color: #dac1b1; /* Lighter color on hover for contrast */
}

.navLinks a:active {
	color: #3d0a05; /* Change to white when active/clicked */
	transform: scale(0.95); /* Slightly shrink to mimic a "pressed" effect */
}

@media (min-width: 320px) and (max-width: 374px) {
	.navbar {
		width: 1260px;
	}

	.navLinks li {
		text-align: center;
		margin: 5px;
		margin-right: 10px;
		padding-left: 2px;
		padding-right: 4px;
	}

	.navLinks a {
		font-size: 50px; /* Further reduce font size for mobile */
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.navbar {
		width: 787px;
	}

	.navLinks {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks li {
		text-align: center;
		margin: 5px;
		margin-right: 10px;
		padding-left: 2px;
		padding-right: 4px;
	}

	.navLinks a {
		font-size: 28px; /* Further reduce font size for mobile */
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.navbar {
		width: 825px;
		padding: 4px;
	}

	.navLinks {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks li {
		text-align: center;
		margin: 5px;
		margin-right: 10px;
		padding-left: 2px;
		padding-right: 4px;
	}

	.navLinks a {
		font-size: 28px; /* Further reduce font size for mobile */
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.navbar {
		width: 995px;
		padding: 4px;
	}

	.navLinks {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks li {
		text-align: center;
		margin: 5px;
		margin-right: 10px;
		padding-left: 2px;
		padding-right: 4px;
	}

	.navLinks a {
		font-size: 28px; /* Further reduce font size for mobile */
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.navbar {
		width: 1122px;
		padding: 4px;
	}

	.navLinks {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navLinks li {
		text-align: center;
		margin: 5px;
		margin-right: 10px;
		padding-left: 2px;
		padding-right: 4px;
	}

	.navLinks a {
		font-size: 28px; /* Further reduce font size for mobile */
	}
}
