.navbar {
	background-color: #7f1f0e;
	padding: 9px;
	color: #dac1b1;
	flex-wrap: wrap;
	max-width: 100vw;
	margin: 0 auto;
}

.navLinks {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #dac1b1;
	gap: 30px;
}

.navLinks li {
	padding: 0 90px;
	margin: 0 30px;
	text-align: center;
}

.navLinks a {
	text-decoration: none;
	color: #a58570;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 25px;
}

.navLinks a:hover {
	color: #dac1b1; /* Lighter color on hover for contrast */
}

.navLinks a:active {
	color: #3d0a05; /* Change to white when active/clicked */
	transform: scale(0.95); /* Slightly shrink to mimic a "pressed" effect */
}

@media (min-width: 320px) and (max-width: 374px) {
	.navlinks {
		gap: 0;
	}

	.navLinks li {
		padding: 0 3px 0 0;
		margin: 0 2px 0 0;
	}

	.navLinks a {
		font-size: 15px;
	}
}
