.navbarContainer {
	background-color: #3d0a05;
	margin: 0 auto;
	padding: 20px 40px;
}

.navbar {
	display: flex;
}

.navbar img {
	width: 85px;
	border-radius: 40%;
	padding-left: 40px;
}

.borderlineWrapper {
	border: 1px solid #dac1b1;
	border-radius: 50px;
	width: 55%;
	position: relative;
	left: 250px;
}

.navLinks {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navLinks a {
	text-decoration: none;
	color: inherit;
	color: #a58570;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 30px;
	padding-right: 20px;
}

.navLinks li {
	text-decoration: none;
}

.navLinks a:hover {
	color: #dac1b1;
	text-decoration: underline; /* Lighter color on hover for contrast */
}

.navLinks a:active {
	color: #3d0a05; /* Change to white when active/clicked */
	transform: scale(0.95); /* Slightly shrink to mimic a "pressed" effect */
}

.button {
	background: linear-gradient(90deg, #5c0f0b, #8b2a1d);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(140, 30, 30, 0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-family: "Cormorant Garamond", serif;
	color: #dac1b1;
	font-size: 15px;
	padding: 12px 39px;
	text-decoration: none;
	float: right;
}

.buttonWrapper {
	padding-left: 1000px;
	margin-top: -50px;
}

.button:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) and (max-width: 374px) {
	.navbarContainer {
		padding: 20px 0;
	}

	.navbar img {
		height: 45px;
		width: auto;
		border-radius: 40%;
	}
	.borderlineWrapper {
		position: relative;
		left: 5px;
		width: 200px;
		height: 185px;
		margin-bottom: 90px;
	}

	.navLinks {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-right: 14px;
	}
	.navLinks a {
		font-size: 17px;
		line-height: 1.8rem;
	}

	.button {
		border-radius: 30px;
		font-size: 13px;
		padding: 12px 20px;
		float: right;
	}

	.buttonWrapper {
		padding: 0 20px;
		margin-top: -140px;
		margin-right: 15px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.navbarContainer {
		padding: 20px 0;
	}

	.headerContainer {
		padding: 25px 25px;
	}

	.navbar img {
		height: 60px;
		width: auto;
		border-radius: 40%;
	}
	.borderlineWrapper {
		position: relative;
		left: 25px;
		width: 200px;
		height: 185px;
		margin-bottom: 90px;
	}

	.navLinks {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-right: 14px;
	}
	.navLinks a {
		font-size: 17px;
		line-height: 1.8rem;
	}

	.button {
		border-radius: 30px;
		font-size: 13px;
		padding: 12px 20px;
		float: right;
	}

	.buttonWrapper {
		padding: 0 20px;
		margin-top: -140px;
		margin-bottom: 20px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.navbarContainer {
		padding: 20px 0;
	}

	.headerContainer {
		padding: 25px 25px;
	}

	.navbar img {
		height: 60px;
		width: auto;
		border-radius: 40%;
	}
	.borderlineWrapper {
		position: relative;
		left: 25px;
		width: 200px;
		height: 185px;
		margin-bottom: 90px;
	}

	.navLinks {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-right: 14px;
	}
	.navLinks a {
		font-size: 17px;
		line-height: 1.8rem;
	}

	.button {
		border-radius: 30px;
		font-size: 13px;
		padding: 12px 20px;
		float: right;
	}

	.buttonWrapper {
		padding: 0 20px;
		margin-top: -140px;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.navbarContainer {
		padding: 20px 0;
	}

	.navbar {
		display: flex;
	}
	.navbar img {
		width: 75px;
		border-radius: 40%;
	}
	.borderlineWrapper {
		width: 400px;
		position: relative;
		left: 42px;
		top: 13px;
	}

	.navLinks a {
		font-size: 17px;
		padding-right: 20px;
	}

	.navLinks li {
		text-decoration: none;
	}

	.button {
		font-size: 15px;
		padding: 12px 20px;
	}

	.buttonWrapper {
		padding-left: 500px;
		margin-top: -35px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.navbarContainer {
		background-color: #3d0a05;
		margin: 0 auto;
		padding: 20px 10px;
	}
	.navbar img {
		width: 80px;
		border-radius: 40%;
	}
	.borderlineWrapper {
		width: 600px;
		position: relative;
		left: 50px;
		top: 13px;
	}

	.navLinks a {
		font-size: 25px;
		padding-right: 20px;
	}

	.navLinks li {
		text-decoration: none;
	}

	.button {
		font-size: 20px;
		padding: 12px 23px;
	}

	.buttonWrapper {
		padding-left: 700px;
		margin-top: -40px;
	}
}

@media (min-width: 2560px) {
	.navbar img {
		width: 220px;
		border-radius: 40%;
	}
	.borderlineWrapper {
		border-radius: 50px;
		width: 1500px;
		position: relative;
		left: 240px;
		top: 55px;
	}

	.navLinks a {
		font-weight: 900;
		font-size: 64px;
		padding-right: 100px;
	}

	.button {
		font-size: 40px;
		padding: 25px 50px;
		border-radius: 50px;
	}

	.buttonWrapper {
		padding-left: 1890px;
		margin-top: -40px;
	}
}
