.contactWrapper {
	margin: 0 auto;
	padding: 30px 40px;
}
.contactContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.contact img {
	width: 85px;
	border-radius: 40%;
}
/* .contactText {
	display: flex;
} */
.contactContainer h1 {
	font-family: "Playfair Display", serif;
	font-size: 40px;
	font-weight: 800;
	color: #751f0e;
	width: 400px;
}

.contactContainer p {
	color: #3d0a05;
	font-family: "Lora", serif;
	font-style: italic;
	font-weight: 900;
	width: 400px;
	text-align: justify;
}

.button {
	text-decoration: none;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 20px;
	color: #751f0e;
}

.button:hover {
	color: #dac1b1;
}

.social {
	list-style: none;
	color: #5c0f0b;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 20px;
	padding-top: 13px;
	padding-bottom: 30px;
}

.social i {
	padding-right: 8px;
}

.social a,
.social li {
	text-decoration: none;
	color: inherit;
}

.social a:hover,
.social li:hover {
	color: #3d0a05;
	text-decoration: underline; /* Lighter color on hover for contrast */
}

.social a:active,
.gmail li:active {
	color: #751f0e; /* Change to white when active/clicked */
	transform: scale(0.95); /* Slightly shrink to mimic a "pressed" effect */
}
/* form styles */
.formContainer {
	background-color: #751f0e;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(225, 65, 33, 0.1);
	padding: 20px;
	width: 100%;
	max-width: 600px;
	margin-top: 5px;
	height: auto;
}

.formContainer h2 {
	color: #dac1b1;
	font-family: "Cormorant Garamond", serif;
	font-weight: 900;
	font-size: 35px;
	text-align: left;
}

.formgroup {
	margin-bottom: 10px;
}

.formgroup label {
	padding-right: 10px;
	color: #a58570;
	font-family: "Lora", serif;
	font-weight: 600;
	font-size: 15px;
}

.formgroup input {
	border: none;
	background: transparent;
	border-bottom: 2px solid #ac746c;
	width: 36em;
	outline: none;
	font-size: 15px;
	width: 100%;
	color: #dac1b1;
}

.formgroup textarea {
	resize: none;
	width: 100%;
	height: 100%;
	line-height: 1.6;
	font-size: 15px;
	background: transparent;
	border: 2px solid #ac746c;
	margin-top: 10px;
	color: #dac1b1;
}

.formgroup textarea:focus,
.formgroup input:focus {
	border: 2px solid #dac1b1; /* Change border color on focus */
	outline: none;
	/* Remove default focus outline */
}

.submit {
	margin: 40px 10px;
	background: linear-gradient(90deg, #7f1f0e, #ac746c);
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(190, 165, 165, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-family: "Cormorant Garamond", serif;
	color: #dac1b1;
	font-size: 25px;
	padding: 18px 90px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.submit:active {
	transform: scale(0.98);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) and (max-width: 374px) {
	.contactContainer {
		display: inline;
		align-items: center;
		justify-content: center;
	}

	.contactText {
		width: 80%;
		margin: 0 auto; /* Center the content horizontally */
		padding: 0 15px;
	}

	.contactContainer h1 {
		font-size: 25px;
		width: 100%;
		margin-top: 25px; /* Ensure the title takes up the full width */
	}

	.contactContainer p {
		font-size: 15px;
		width: 100%;
	}

	.button {
		font-size: 30px;
	}
	.formContainer {
		width: 100%;
		max-width: 240px;
		height: auto;
		margin-left: -20px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	.submit {
		margin: 10px 40px;
		font-size: 20px;
		padding: 18px 30px;
	}
	.social {
		font-size: 15px;
		padding: 0;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.contactContainer {
		display: inline;
		align-items: center;
		justify-content: center;
	}

	.contactText {
		width: 80%;
		margin: 0 auto; /* Center the content horizontally */
		padding: 0 15px;
	}

	.contactContainer h1 {
		font-size: 25px;
		width: 100%;
		margin-top: 25px; /* Ensure the title takes up the full width */
	}

	.contactContainer p {
		font-size: 15px;
		width: 100%;
	}

	.button {
		font-size: 20px;
	}
	.formContainer {
		width: 100%;
		max-width: 300px;
		height: auto;
		margin-left: -20px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	.submit {
		margin: 10px 40px;
		font-size: 20px;
		padding: 18px 55px;
	}
	.social {
		font-size: 15px;
		padding: 0;
	}
}

@media (min-width: 424px) and (max-width: 767px) {
	.contactContainer {
		display: inline;
		align-items: center;
		justify-content: center;
	}

	.contactText {
		width: 80%;
		margin: 0 auto; /* Center the content horizontally */
		padding: 0 15px;
	}

	.contactContainer h1 {
		font-size: 25px;
		width: 100%;
		margin-top: 25px; /* Ensure the title takes up the full width */
	}

	.contactContainer p {
		font-size: 15px;
		width: 100%;
	}

	.button {
		font-size: 20px;
	}
	.formContainer {
		width: 100%;
		max-width: 350px;
		height: auto;
		margin-left: -20px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	.submit {
		margin: 10px 40px;
		font-size: 20px;
		padding: 18px 75px;
	}
	.social {
		font-size: 15px;
		padding: 0;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.contactContainer {
		margin: 0;
	}

	.contactText {
		padding: 0 0 0 32px;
	}

	.formContainer {
		max-width: 750px;
		height: auto;
	}
	.submit {
		margin: 20px 10px;
		font-size: 20px;
		padding: 18px 75px;
	}
}

@media (min-width: 1024px) and (max-width: 1039px) {
	.contactContainer {
		margin: 0;
	}

	.contactText {
		padding: 0 0 0 32px;
	}

	.formContainer {
		max-width: 850px;
		height: auto;
	}
	.submit {
		margin: 20px 10px;
		font-size: 20px;
		padding: 18px 75px;
	}
}

@media (min-width: 2560px) {
	.contactContainer h1 {
		font-size: 90px;
		width: 900px;
	}

	.contactContainer p {
		font-size: 50px;
		width: 900px;
	}

	.button {
		font-size: 80px;
	}

	.formContainer {
		max-width: 1172px;
		height: auto;
	}
	.submit {
		margin: 15px 56px;
		font-size: 80px;
		padding: 18px 85px;
	}

	.formContainer h2 {
		font-size: 90px;
	}

	.formgroup {
		margin-bottom: 10px;
	}

	.formgroup label {
		margin-bottom: 10px;
		font-size: 80px;
	}

	.formgroup input {
		border: none;
		background: transparent;
		border-bottom: 2px solid #ac746c;
		width: 36em;
		outline: none;
		font-size: 89px;
		width: 100%;
		color: #dac1b1;
	}

	.formgroup textarea {
		resize: none;
		width: 100%;
		height: 100%; /* Set a larger height for the textarea */
		line-height: 1.6;
		font-size: 50px;
		background: transparent;
		border: 2px solid #ac746c;
		margin-top: 10px;
		color: #dac1b1;
	}

	.socials {
		font-size: 25px;
	}
	.social {
		font-size: 45px;
	}
}
