.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3d0a05;
	width: 100%;
	margin: 0 auto;
}

.header img {
	width: 300px;
	height: auto;
	margin: 20px;
	padding-left: 30px;
}

.header h2 {
	width: 280px;
	text-align: right;
	color: #dac1b1;
	word-spacing: 2px;
	margin-top: 80px;
	padding-top: 20px;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 60px;
}

@media (min-width: 320px) and (max-width: 374px) {
	.header img {
		width: 140px;
		padding-left: 10px;
	}

	.header h2 {
		font-size: 25px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 0;
	}
}
@media (min-width: 320px) and (max-width: 374px) {
	.header {
		overflow: hidden; /* Subtract scrollbar width */
	}
	.header img {
		width: 110px;
		padding-left: 5px;
	}

	.header h2 {
		font-size: 26px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 0;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.header img {
		width: 140px;
		padding-left: 10px;
		padding-right: 9px;
	}

	.header h2 {
		font-size: 28px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 0;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.header img {
		width: 150px;
		padding-left: 10px;
		padding-right: 15px;
	}

	.header h2 {
		font-size: 33px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 0;
	}
}

@media (min-width: 2560px) {
	.header img {
		width: 650px;
		padding-left: 390px;
		padding-right: 15px;
	}

	.header h2 {
		font-size: 120px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 185px;
		padding-right: 0;
	}
}
