.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3d0a05;
	max-width: 100vw;
	margin: 0 auto;
}

.header img {
	width: 300px;
	height: auto;
	margin: 20px;
	padding-left: 30px;
}

.header h2 {
	width: 280px;
	text-align: right;
	color: #dac1b1;
	word-spacing: 2px;
	margin-top: 80px;
	padding-top: 20px;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 60px;
}

@media (min-width: 320px) and (max-width: 374px) {
	.header img {
		width: 140px;
		padding-left: 10px;
	}

	.header h2 {
		font-size: 25px;
		word-spacing: 0;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 0;
	}
}
/*
@media (min-width: 375px) and (max-width: 424px) {
	.header {
		width: 806px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.header {
		width: 829px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.header {
		width: 1070px;
	}
} */
