.background {
	background-color: #3d0a05;
	width: 100%;
}

.projectsList {
	text-align: center;
	padding: 5px;

	margin: 0 auto;
}

.title {
	color: #dac1b1;
	font-family: "Playfair Display", serif;
	font-size: 80px;
}
.projectsListContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .projectsList .column:nth-child(odd) {
	width: 50%;
}
.about-container .column:nth-child(even) {
	width: 50%;
} */

@media (min-width: 320px) and (max-width: 374px) {
	.title {
		font-size: 30px;
	}

	.projectsListContainer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.title {
		font-size: 35px;
	}

	.projectsListContainer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.title {
		font-size: 43px;
	}

	.projectsListContainer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 2560px) {
	.title {
		font-size: 150px;
	}
}
