.aboutme {
	display: flex;
	justify-content: flex-end; /* Aligns the entire .aboutmeInfo container to the right */
	align-items: flex-start;
	/* margin: 20px; */
	padding-right: 100px;
	position: relative;
	padding-bottom: 80px;
}

.aboutme img {
	width: 450px;
	height: auto;
	padding: 10px;
	border: 3px solid #3d0a05; /* Creates a black border with 2px thickness */
	/* padding-top: 10px; Adds space between the text and the border */
	box-sizing: border-box;
	margin: 60px 50px 0 0;
	position: absolute; /* Enable image positioning */
	bottom: -80px; /* Moves the image to overlap the white section */
	left: 250px; /* Adjust horizontal positioning */
	z-index: 10;
}

.aboutmeInfo {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding-left: 80px;

	color: #3d0a05;
	/* Ensures padding and border are included in the element's total width/height */
}

.aboutmeInfo h1 {
	font-family: "Cormorant Garamond", serif;
	font-weight: 700;
	font-style: italic;
	font-size: 70px;
}
.aboutmeInfo h2 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	font-weight: 550;
}
.aboutmeInfo p {
	text-align: justify;
	font-size: 20px;
	font-family: "Lora", serif;
}
